button:focus {
  outline: none;
}

.postCard {
  margin-top: 2rem;
  width: 100%;
  box-shadow: 0px 3px 5px #aaaaaa;
}

.postCard__title {
  font-size: 20px;
  font-weight: 500;
}

.postCard__tag {
  text-align: right;
  font-size: 16px;
}

.postCard__username {
  margin-bottom: 0.5rem;
  opacity: 80%;
}

.postCard__username:hover {
  opacity: 65%;
}

.postCard__row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.postCard__interactions {
  display: flex;
}

.postCard__rightAlign {
  font-size: 16px;
  text-align: right;
}

.postCard__bottomRow {
  margin-top: 1rem;
}
